<h3>Background</h3>
<hr class="featurette-divider">
<p><span class="text-uppercase">Objective</span></p>
<p>{{ backgroundInfo.objective }}</p>
<p>
	<i class="fa fa-briefcase fa-fw"></i><span class="text-uppercase">Experience</span>
</p>
<div ng-repeat="work in backgroundInfo.experience">
	<div>
		<small class="text-muted">{{ work.from | date:'MMMM yyyy' }} - {{ work.to | date:'MMMM yyyy' }}</small>
		<p class="text-success">{{ work.company }}</p>
		<p>Team Leader</p>
		<ul ng-repeat=" tasks in work.activities">
			<li>{{ tasks }}</li>
		</ul>
	</div>
</div>

<p>
	<i class="fa fa-book fa-fw"></i><span class="text-uppercase">Education</span>
	<p class="text-success">UMC Universidad Morelos de Cuernavaca – Cuernavaca, Mor.</p>
	<p>Computer Engineering and Networks</p>
</p>