@import 'configs'
@import 'fonts'
@import 'icons'

body
  background lighten(gray,90%)
  color gray
  font-family Arial,Helvetica,sans-serif
  line-height 1.2em
  margin 0
  padding 0

h1
	font-weight normal
	margin 0
a
	color darken(primary_color,50%)
	
header
	background primary_color
	border-top 10px solid darken(primary_color,20%) 
	color white
	a
		color white
		text-decoration none

.sectionwidth
	max-width default_width
	padding 10px

input[type="text"]
	background lighten(gray,80%)
	border none
	padding 10px

button
input[type="submit"]
.btn
	background primary_color
	border none
	color white
	cursor pointer
	margin 10px 0
	padding 10px
	font-size 0.9em
	text-align center
	position relative
	text-decoration none
	display inline-block
	min-width 200px
	&:hover
		background darken(primary_color,50%)
		-webkit-transition background 0.3s linear
		-o-transition background 0.3s linear
		transition background 0.3s linear
	&:before
		border 1px lighten(primary_color, 40%) solid
		position absolute
		content ""
		width 97%
		top 2px
		left 2px
		height 85%
	
.center
	margin 0 auto

.authors
	font-size 0.8em
	a
		margin 0 2px


.slidermost
.searches	
	display block
	margin 0
	padding 0
	overflow hidden
	.slidermost__item
		background lighten(gray,80%)
		opacity 0.6
		list-style none
		padding 5px
		margin 0 10px
		font-size 0.9em
		max-height 150px
		position relative
		box-sizing border-box 
		overflow hidden
		p
			margin 0
			position relative
			top 0
		&:hover
			opacity 1
			-webkit-transition opacity 0.2s linear
			-o-transition opacity 0.2s linear
			transition opacity 0.2s linear
			.consult
				bottom 0
				-webkit-transition bottom 0.2s linear
				-o-transition bottom 0.2s linear
				transition bottom 0.2s linear
			p
				-webkit-transition all 0.2s linear
				-o-transition all 0.2s linear
				transition all 0.2s linear
				top -22px

.columns
	float left

.leftcolumn
	width 80%
	margin-right 10px
	
.rightcolumn
	width calc(20% - 10px)
	
article
	border-left 3px solid lighten(gray,80%)
	padding 10px
	margin 20px 0
	position relative
	
.bckimage
	background url(../../images/find-books.jpg)
	background-size cover
	background-position 0 -600px
	text-align center

.searches__item
	background lighten(gray, 80%)
	float left
	padding 5px
	margin 5px
	cursor pointer
	font-size 0.9em
	list-style none
	&:hover
		background gray
		color white
		-webkit-transition all 0.3s linear
		-o-transition all 0.3s linear
		transition all 0.3s linear

.hide
	display none
	
#searchText
	margin 30px 0
	min-width 400px
	background rgba(255,255,255,0.8)
	color gray

.glyphicon
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	display inline-block
	font-family 'Glyphicons Halflings'
	font-style normal
	font-weight normal
	line-height 1;
	position relative
	top 1px

.mgtop10
	margin-top 10px

.mgbottom20
	margin-bottom 20px

.fixedheader
	position fixed
	width 100%
	z-index 2
	&:after
	&:before
		box-shadow 0 0 30px rgba(255,255,255,1)
		content ""
		position absolute
		width 100%
		z-index -1
		padding 20px
		display block
		bottom 0

.main
	padding-top 165px
	overflow hidden
	position relative
	z-index 1

.social
	display inline-block
	position absolute
	top 0
	right 30px
	span
		display inline
		color primary_color
		margin 0 10px
		cursor pointer
		&:hover
			color darken(primary_color,50%)

.btns
	background primary_color
	color white
	padding 3px
	cursor pointer
	font-size 0.8em
	vertical-align middle

.title--showhide
	position relative

.rights
	text-align center
	font-size 0.8em
	border-top 1px solid lighten(gray,80%)

.rss
	float right
	color primary_color

.warning
	border 1px solid red !important

.prev
.next
	color lighten(gray,60%)
	cursor pointer
	padding 3px
	margin-left 10px
	&:hover
		color gray
.consult
	background rgba(128, 175, 186, 0.88)
	width 100%
	padding 3px 
	color white
	text-decoration none
	position absolute
	bottom -25px
	left 0
	